:root{
    --primary: rgb(0, 11, 24);
    --secondary: #f81c1c;
}
header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.logo{
    height: 3em;
    width: auto;
    top: 0.5em;
}
.title{
    text-align: center;
    font-size: xx-large;
}

.item{
    display: inline;
    height: 4em;
    margin : 0.3em;
    font-size: larger;
}
.item:hover{
    border: 5px solid var(--secondary);
}
.itempic{
    height: 3.5em;
    width: auto;
    float: left;
    top: 0px;
    margin: 0;
    padding: 0;
    margin-right : 1em;

}

.btn{
    font-size: x-large;
    height: fit-content;
    padding: 0;
    margin: 0;
}
.items{
    display: grid;
    grid-template-columns: auto auto auto auto;
}